
  <style>
  /* Navbar styling */
  #main-navbar {
    background-color: #000; /* Black background color */
    color: #d32; /* Text color */
  }

  /* Container wrapper */
  .container-fluid {
    padding: 0 15px; /* Add padding */
  }

  /* Toggle button */
  .navbar-toggler {
    border: none; /* Remove border */
    background-color: transparent; /* Transparent background */
    color: #bb2323; /* Text color */
  }

  /* H1 heading */
  h1 {
    font-size: 24px; /* Font size */
    font-weight: bold; /* Bold font weight */
    margin: 0; /* Remove default margin */
  }
</style>

</style>

<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-black fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#sidebarMenu"
      aria-controls="sidebarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
   
    <h1 style="margin-left:42%;color: white;">Admin Portal</h1>
</div>
</nav>


   
<!--Main Navigation-->


